body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: block;
    width: 340px;
}

.title {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title > .player,
.title > .chess-turn {
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.chess-turn .turn-title {
    margin-bottom: 5px;
}

.chess-turn span.turn {
    border: 1px solid #000;
    border-radius: 100%;
}

.chess-turn span.turn-w {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #fff;
}

.chess-turn span.turn-b {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #000;
}

.title > .player {
    display: flex;
    align-items: center;
}

.title > .player .player-img {
    border: 3px solid transparent;
    display: inline-block;
    border-radius: 100%;
    padding: 5px;
    transition: 500ms;
}

.title > .player.your-turn .player-img {
    border: 3px solid #f58383;
    box-sizing: border-box;
}

.title > .player div {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 5px;
}

.title > .player img {
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

.board {
    padding: 0 10px;
    position: relative;
    user-select: none;
}

.line {
    height: 40px;
    display: flex;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.line:first-child {
    border-top: 1px solid #ccc;
}

.square {
    width: 40px;
    height: 40px;
    border-left: 1px solid #ccc;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #ccc;
}

.square.white {
    background: #fff;
}

.square.selected {
    background-color: #8fecf6;
}

.square.movable {
    background-color: #888888;
}

.square.movable-plus {
    background-color: #ff7171;
}

.square.movable-promotion {
    background-color: #fdff97;
}

.piece {
    width: 37px;
}

.number {
    position: absolute;
}

.number.left {
    left: -5px;
}

.number.bottom {
    bottom: -20px;
}